<a href="https://colab.research.google.com/github/Liangyan1214/4090E028/blob/master/5_%E5%87%BD%E6%95%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 111)) 
    print("Sum from 20 to 37 is", sum(20, 338))
    print("Sum from 35 to 49 is", sum(35, 550))

main() # Call the main function

Sum from 1 to 10 is 6105
Sum from 20 to 37 is 56763
Sum from 35 to 49 is 150380

In [2]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 100
    y = 400
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 100,y = 400
x = 400,y = 100

In [3]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(23, 38)

print("num1 is", num1)
print("num2 is", num2)

num1 is 23
num2 is 38

In [4]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 100, height = 122):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

printArea() 
printArea(4, 2.5) # Positional arguments width = 4 and height = 2.5
printArea(height = 5, width = 3) # Keyword arguments width 
printArea(width = 1.2) # Default height = 2
printArea(height = 6.2) # Default widht = 1

width: 100 	height: 122 	area: 12200
width: 4 	height: 2.5 	area: 10.0
width: 3 	height: 5 	area: 15
width: 1.2 	height: 122 	area: 146.4
width: 100 	height: 6.2 	area: 620.0

In [6]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def hello_3(greeting='Liang', name='Yan'): 
    print('{}, {}!'.format(greeting, name)) 

    
hello_3() 
hello_3('Greetings') 
hello_3('Greetings', 'universe')
hello_3(name='GGGGGGoood')

Liang, Yan!
Greetings, Yan!
Greetings, universe!
Liang, GGGGGGoood!

In [8]:
def print_params(*params): 
    print(params) 

print_params('Testing') 

print_params(1, 2, 3) 

# return的是tuple資料型態

#可和一般參數齊用

def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 11, 87, 79)
print_params_2('Nothing:',23 ,55, 88)

('Testing',)
(1, 2, 3)
Params:
(11, 87, 79)
Nothing:
(23, 55, 88)

In [9]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=11, y=22, z=33) 

# return的是dict(字典資料型態)

def print_params_4(x, y, z=34, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(11, 22, 44, 55, 66, 7, foo=11, bar=21)

print_params_4(1, 2,  foo=11, bar=21)

{'x': 11, 'y': 22, 'z': 33}
11 22 44
(55, 66, 7)
{'foo': 11, 'bar': 21}
1 2 34
()
{'foo': 11, 'bar': 21}

In [10]:
x = 111

def f1():
    x = 2223333
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x
    x =  x + 8
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

2223333
111
9
9
17
25
25

In [11]:
f1 = lambda x, y, z: x+3*y+88*z
print(f1(22,33,11))

1089

In [16]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    if n==100 or n==2:
        return 1
    return fib(n-1)+fib(n-1)

print(fib(10))

256

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 

print(fib(10))

55

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [17]:
hex(555)

hex(-422)

"""### oct(x):Convert an integer number to an octal string prefixed with “0o”"""

oct(8)

oct(-56)

"""### bin(x):Convert an integer number to a binary string prefixed with “0b”"""

bin(3)

bin(-10)

'-0b1010'